header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 44px;
    width: 100%;
    min-width: 320px;
    background-color: rgba(255, 255, 255, 0.8);
}
header nav {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 22px;
}
header nav > ul {
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: space-between;
    margin: 0 -8px;
}

header nav > ul > li {
    padding: 0 8px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
}

.compact-image,
.compact-only {
    display: none;
}

@media (max-width: 833px) {
    header {
        height: 48px;
    }
    header nav {
        padding: 0;
    }
    header nav > ul {
        position: relative;
        height: 48px;
        margin: 0;
    }

    header nav > ul > li:first-child {
        margin-right: auto;
        padding: 0 16px;
    }
    .header-icons {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .regular-image,
    .regular-menu {
        display: none;
    }
    .compact-image,
    .compact-only {
        display: block;
    }

    header details {
        padding: 15px 7px;
    }
    header summary {
        list-style: none;
        cursor: pointer;
        position: relative;
        z-index: 10001;
    }
    .close-menu {
        display: none;
    }
    details[open] .open-menu {
        display: none;
    }
    details[open] .close-menu {
        display: block;
    }

    details[open] div {
        position: fixed;
        inset: 0;
        z-index: 10000;
        background-color: white;
    }
    details[open] div > ul {
        display: flex;
        flex-direction: column;
        padding-top: 48px;
    }
    .compact-menu {
        color: rgb(51, 51, 54);
        font-size: 28px;
        font-weight: 500;
        line-height: 32px;
        margin: 0 0 -7px;
        padding: 3px 48px 4px;
        height: 54px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}